* text=auto

*.py text eol=lf
*.sh text eol=lf
*.md text eol=lf
*.tsv text eol=lf
*.csv text eol=lf
*.txt text eol=lf
*.json text eol=lf
*.html text eol=lf
*.js text eol=lf
*.tex text eol=lf
*.bib text eol=lf
*.bat text eol=crlf
.gitignore text eol=lf
.gitattributes text eol=lf
requirements.txt text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.pdf binary
*.pt binary
*.pth binary
*.vsdx binary
